@page
@model IndexModel
@{ 
    Layout = "~/Pages/Shared/_Layout.cshtml";
    int i = 0;
    periodData currentWeather = Model.hourlyRes.properties.periods[0];
    Feature [] relevantAlert = new Feature[Model.alerts.features.Length];
    bool hasAlerts = false;
    foreach (Feature feature in Model.alerts.features)
    {
        if (Model.isRelevantAlert(feature.properties.senderName)) {
            hasAlerts = true;
            relevantAlert[i] = feature;
            i++;
        }
    }
    i = 0;
}
<link rel="stylesheet" href="~/css/homepage.css" />
<h1>@Model.locationRes.city, @Model.locationRes.regionName (@Model.locationRes.countryCode)</h1>
<h2 class="currentWeather text-center">@currentWeather.shortForecast</h2>
<h2 class="currentTemperature text-center">@currentWeather.temperature&#176;</h2>
@if(hasAlerts)
{
    <div class="alert">
        <h2>ALERT</h2>    
        @foreach (Feature feature in relevantAlert)
        { 
            <p>@feature.properties.urgency @feature.properties.certainty @feature.properties.severity @feature.properties.Event </p>
            <!--Add page to show more specific alert-->
        }
    </div>
}
<div id="forecast" class="hourly">
    @foreach (periodData period in Model.hourlyRes.properties.periods)
    {
        if (i >= 24)
            break;
        string display = period.endTime.Split('T')[1];
        display = display.Split('-')[0];
        display = display.Split(':')[0];
        string ampm;
        int val = int.Parse(display);
        if (val > 12) {
            val -= 12;
            ampm = "pm";
        } else if (val == 0) {
            val = 12;
            ampm = "am";
        } else if(val < 12) {
            ampm = "am";
        } else {
            ampm = "pm";
        }



        <div class="hour">
            @if (i == 0) {
            <h2>Now</h2>              
            } else { 
            <h2>@val @ampm</h2>              
            }
            <img class="weatherIcon" src="@period.icon" alt="@period.detailedForecast"/>
            <p>@period.temperature&#176;</p>
            @if(period.shortForecast.Split(' ').Length > 3){
                string [] words = period.shortForecast.Split(' '); 
                <p>@words[0] @words[1] </p>
                <p>@words[2] @words[3] </p>
            } else {
                <p>@period.shortForecast</p>
            }
        </div> 
        i++;
    }
</div>
<div id="weekly" class="forecastContainer">
    @foreach(wholeDay day in Model.forecastFormatted.days)
    {   
        <div id="@day.day.name" class="day">        
            <b class="dayName">@day.day.name</b>
            <img class="weekForecastImg" id="@day.day.name"src="@day.day.icon" alt="@day.day.shortForecast"/>
            <p class="temperatures"> 
                <span class="dayTemp"> @day.day.temperature </span>
                <span class="nightTemp">@day.night.temperature</span>
            </p>
        </div>
    }
</div>
<div id="detailedForecast" class="detailed">
    @if (Model.forecastFormatted.days[0].day != null)
    {
        <p>@Model.forecastFormatted.days[0].day.detailedForecast</p> 
    }else {
        <p>@Model.forecastFormatted.days[0].night.detailedForecast</p> 
    }
</div>
<script>
    let forecast = document.getElementById("forecast");
    if (window.innerWidth > 414) {
        forecast.scrollTop = 5;
    }
    let initScroll = forecast.scrollTop;
    forecast.addEventListener('scroll', event => {
        if (event.srcElement.scrollTop == initScroll || event.srcElement.scrollTop == 0)
            return;
        event.srcElement.scrollLeft += (-1*(initScroll - event.srcElement.scrollTop)) * 50;
        event.srcElement.scrollTop = initScroll;
    });


    function bgWeather(sf) {
        if (/Fog/.test(sf) || /Showers/.test(sf)|| /Rain/.test(sf) || /Cloudy/.test(sf))  {
            return "rain";
        }
        if (/Snow/.test(sf) || /Sleet/.test(sf)) {
            return "snow";
        }
        if (/Sunny/.test(sf))
            return "sunny"
    }
    let className = bgWeather("@currentWeather.shortForecast");
    let body = document.getElementsByTagName("body")[0];
    body.className = className;
</script>
